# zip files
*.zip

# Node.js
node_modules/
config.json

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/

# Mac
.DS_Store
.DS_Store?

# Windows
Desktop.ini
*.lnk
*.cab
*.msi
*.msm
*.msp
$RECYCLE.BIN/
Thumbs.db
ehthumbs.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
